.main{
    color: red;
    font-family: "Chewy", cursive;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black, -2px 2px 4px black; /*Crni obod oko slova*/
    margin-bottom: -5px;
    
}
.goulash{
    color: red;
    font-family: "Chewy", cursive;
    text-align: center;
    text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
    font-size: 50px;
}
.CFR{
    color: red;
    font-family: "Chewy", cursive;
    text-align: center;
    text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
    font-size: 50px;
}
.gnocchi{
    color: red;
    font-family: "Chewy", cursive;
    text-align: center;
    text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
    font-size: 50px;
}
.secondary{
    text-align: center;
    color: black;
    font-family: "Chewy", cursive;
    text-shadow: 2px 2px 4px #93E1D8, -2px -2px 4px #93E1D8, 2px -2px 4px #93E1D8, -2px 2px 4px #93E1D8;
}
.link{
    display: block;
    text-align: left;
    margin: 3px auto;
    border: 2px solid black;
    width: 70px;
    background-color: red;
    padding-right: 12px;
    padding-left: 25px;
    color: black;

}
.link a {
    color: white;
    text-decoration: none;

}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.home{
    display: block;      /* Pretvori link u blok element */
    text-align: center;  /* Centriraj sadržaj unutar njega */
    margin-left: auto;   /* Auto marginama se centrira */
    margin-right: auto;  /* Auto marginama se centrira */
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: red;
    width: 100px;
    margin-top: -20px;
    color: white;
    text-decoration: none;
}
.ingredients{
    padding-right: 60px;
    text-align: center;
    list-style-position: inside;
}
.p{
    text-align: center;
}
.steps{
    text-align: center;
    list-style-position: inside;
    padding-right: 40px;
}