.main{
    color: red;
    background-color: black;
    font-family: "Arial";
    text-align: center;
}
.goulash{
    color: green;
    background-color: black;
    font-family: "Arial";
    text-align: center;
}
.CFR{
    color: green;
    background-color: black;
    font-family: "Arial";
    text-align: center;
}
.gnocchi{
    color: green;
    background-color: black;
    font-family: "Arial";
    text-align: center;
}
.secondary{
    color: blue;
}